.main-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center
}
img{
    width: 30%;
    height: auto;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
img:hover{
    cursor: pointer;
    transform: translateY(-4px);
    
}